@import '../variables';

.pinkBorderHeader {
  background-color: $pink;
  height: 30px;
  min-width: 1050px;
}

.navBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 85px;
  margin: 0 auto;
  justify-content: center;
  min-width: 1050px;

  .searchBar-div {
    margin-left: 30px;

    input.searchBar {
      height: 35px;
      border-radius: 5px;
      color: gray;
      min-width: 240px;
    }

    input[type='text'].searchBar {
      background: image-url('searchicon.png');
      background-size: 28px 28px;
      background-repeat: no-repeat;
      background-position: 4px 4px;
      padding-left: 40px;
      font-size: 15px;
      font-family: $Arimo;
      letter-spacing: 0.5px;
      border: 1px solid $lightGray;
    }

    input[type='text'].searchBar::placeholder {
      color: $lightGray;
    }

    input[type='text'].searchBar:focus {
      border: 1px solid gray;
      color: gray;
    }
  }

  .mainlogo {
    background: image-url('logopink.png');
    background-size: 235px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    min-width: 384.78px;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .welcomeMessage {
    flex: 5;
    margin: 0;
    padding-bottom: 5px;
    font-size: 18px;
    color: $darkPink;
    font-family: $Arimo;
    letter-spacing: 0.5px;
    font-weight: bold;
    display: flex;
    min-width: 152.81px;

    .welcomeMessageWithButton {
      font-family: $Arimo;
      letter-spacing: 0.5px;
      color: $pink;
      display: flex;
    }

    #beautifulHeart {
      margin-left: 7px;
    }
  }

  .break {
    display: flex;
    margin: 0px 15px;

    .middle-break {
      flex: 1;
      height: 60px;
      border-right: 0.5px solid rgb(223, 223, 223);
    }

    .middle-break2 {
      flex: 1;
      height: 60px;
      border-left: 0.5px solid rgb(223, 223, 223);
    }
  }

  .bagIcons {
    display: flex;
    margin-left: 15px;

    .fas {
      margin-right: 23px;
      color: $pink;
      font-size: 35px;
      transition: 0.25s;
    }

    .fas:hover {
      color: $darkPink;
      cursor: pointer;
    }
  }
}

.signInsignOutButton {
  background-color: white;
  font-family: $Arimo;
  letter-spacing: 0.5px;
  color: $pink;
  font-size: 15px;
  border: none;
  display: flex;
  width: 135px;

  .or {
    padding: 0 5px;
  }
}

button.signInsignOutButton {
  padding: 0;
  font-weight: bold;
  transition: 0.25s;
}

button.signInsignOutButton:hover {
  text-decoration: underline;
  cursor: pointer;
  color: $darkPink;
}

.welcome-message-with-dropdown {
  min-width: 170px;

  .welcomeMessageWithButton {
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 15px 15px 15px 0;
    transition: 0.25s;
  }

  .hidden-dropdown {
    position: absolute;
    min-width: inherit;
    background-color: white;
    box-shadow: 0 0px 0 0px rgba(0, 0, 0, 0), 0 6px 10px 0px rgba(0, 0, 0, 0.19);
    opacity: 0;
    visibility: collapse;
    z-index: 10;
    
    .dropdown-flex {
      display: flex;
      flex-direction: column;
      min-height: 50px;
      margin: 10px 0;
    }
  }
  
  .welcomeMessageWithButton:hover+.hidden-dropdown {
    border-top: 1px dotted $pink;
    border-radius: 3px;
    visibility: visible;
    -webkit-transition: opacity 700ms, visibility 700ms ;
    transition: opacity 700ms ,
    visibility 700ms;
    opacity: 1;
    z-index: 10;
  }

  #bath-body:hover .hidden-dropdown{
    visibility: collapse;
  }

  .hidden-dropdown:hover #bath-body{
    visibility: visible;
    display: none;
  }
  
  .hidden-dropdown:hover {
    box-shadow: 0 0px 0 0px rgba(0, 0, 0, 0), 0 6px 10px 0px rgba(0, 0, 0, 0.19);
    border-top: 1px dotted $pink;
    border-radius: 3px;
    visibility: visible;
    opacity: 1;
  }

  .dropdown-button {
    background-color: white;
    font-family: $Arimo;
    letter-spacing: 0.5px;
    color: gray;
    font-size: 15px;
    border: none;
    padding: 0;
    margin: 5px 10px 5px 10px;
  }
  
  button.dropdown-button {
    padding: 0;
    font-weight: bold;
    transition: 0.25s;
    padding-left: 11px;
  }

  button.dropdown-button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: $darkPink;
  }

  #logout-button {
    padding-bottom: 10px;
    margin-top: 10px;
  }
}

.pinkBorderHeader2 {
  text-align: center;
  background-color: $pink;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  min-width: 1050px;
  
  .free-shipping {
    font-family: $fontFamily;
    color: white;
    font-weight: bold;
  }
}

#fa-caret-down1 {
  padding-left: 25px;
}

#fa-caret-down2 {
  padding-left: 12px;
}

.break-line2 {
  border-top: 1px dotted $pink;
  margin: 0 15px;
}