@import '../variables';

.outsideSigninSignup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(219, 205, 205, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.signupPage {
  font-family: $Arimo;
  letter-spacing: 0.5px;
  background-color: white;
  max-width: 470px;
  flex: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1000;
}

.please-register {
  display: flex;
  font-weight: bold;
  color: gray;
  align-items: center;
  height: 48px;
  padding-left: 30px;
  border-radius: 5px;
  border-bottom: 1px solid #eceaea;

  .please-register-message {
    flex: 9;
  }

  button.please-register {
    flex: 1;
    cursor: pointer;
    background-color: white;
    font-family: $Arimo;
  letter-spacing: 0.5px;
    font-size: 23px;
    border: none;
  }

  button.please-register:hover {
    color: $darkPink;
  }
}

.signup-error {
  flex: 1;
  margin-left: 10px;
  margin-top: 3px;
  font-family: $Arimo;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: $darkPink;
  margin: 0 30px;
  margin-top: 10px;
}

.signup-errors {
  display: flex;
  flex-direction: column;
}

.register-names {
  display: flex;
  flex-direction: column;

  .required-info {
    flex: 1;
    color: $lightGray;
    font-size: 11px;
    margin-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .name-input {
    flex: 1;
    display: flex;
    margin-bottom: 10px;

    .first-name {
      flex: 1;
      border: 1px solid $lightGray;
      border-radius: 5px;
      height: 36px;
      width: 200px;
      margin-left: 30px;
      margin-right: 10px;
    }

    .last-name {
      flex: 1;
      border: 1px solid $lightGray;
      border-radius: 5px;
      height: 36px;
      width: 200px;
      margin-right: 30px;
      margin-left: 10px;
    }
  }

  input {
    border: 1px solid $lightGray;
    border-radius: 5px;
    height: 36px;
    width: 390px;
  }

  input[type='text'] {
    padding-left: 17px;
    font-size: 15px;
    font-family: $Arimo;
    letter-spacing: 0.5px;
  }

  input[type='text']::placeholder {
    color: $lightGray;
  }

  input[type='text']:focus {
    border: 1px solid gray;
    color: gray;
  }

  input[type="password"] {
    font-size: 15px;
    font-family: $Arimo;
  letter-spacing: 0.5px;
    border-radius: 5px;
    padding-left: 17px;
    height: 36px;
    width: 390px;
    margin-top: 10px;
  }

  input[type="password"]::placeholder {
    color: $lightGray;
  }

  input[type="password"]:focus {
    border: 1px solid gray;
    color: gray;
  }

  .email-input-register {
    flex: 1;
    margin: 0 30px;
  }

  .pw-input-register {
    flex: 1;
    margin: 0 30px;
  }
}

.checkbox {
  display: flex;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: $Arimo;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: gray;
  margin: 0 30px;
  margin-top: -12px;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: $pink;
  border-radius: 50%;
}

/* On mouse-over, add a pink background color */
.checkbox:hover input~.checkmark {
  background-color: $darkPink;
}

/* When the checkbox is checked, add a pink background */
.checkbox input:checked~.checkmark {
  background-color: $darkPink;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.joining-term {
  font-family: $Arimo;
  letter-spacing: 0.5px;
  color: $lightGray;
  font-size: 11px;
  padding-left: 65px;
  margin-right: 15px;
  padding-top: 5px;
}

.enter-birthdate {
  font-family: $Arimo;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: gray;
  font-size: 13px;
  margin: 0 65px;
  padding-top: 10px;
}

.birthdate {
  display: flex;
  margin-top: 10px;
  margin-left: 65px;
  margin-right: 83px;

  .month {
    flex: 1;
    margin-right: 5px;
  }

  .day {
    flex: 1;
  }

  .year {
    flex: 1;
    margin-left: 5px;
  }
}

.break-line {
  display: flex;
  margin: 15px auto;
  height: 10px;
  width: 400px;
  border-top: 1px solid $lightGray;
}

#subscription-label {
  top: 0px;
}

#subscription-checkbox {
  top: -2px;
}

.register-button {
  display: flex;
  background-color: $darkPink;
  color: white;
  border-radius: 5px;
  border: 1px solid $darkPink;
  width: 150px;
  height: 38px;
  font-weight: bold;
  margin-left: 284px;
  justify-content: center;
  margin-bottom: 25px;
}

button.register-button:hover {
  background-color: $pink;
  border: 1px solid $pink;
  cursor: pointer;
}