@import '../variables';

.basket-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1050px;
  font-family: $Arimo;
  letter-spacing: 0.5px;
  color: $darkGray;
  width: 63%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;

  .number-of-items {
    position: absolute;
    right: 32px;
    bottom: 460px;
    background-color: $darkPink;
    color: white;
    border-radius: 50%;
    padding: 0 4px;
  }

  .my-basket {
    font-family: $Cormorant-Garamond;
    font-weight: 600;
    min-width: inherit;
    margin: 20px 0 15px 85px;
    font-size: 28px;
  }

  .under-my-basket {
    display: flex;
    min-width: inherit;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
    
    .qualify-for-free-shipping{
      margin-left: 45px;
      color: $darkPink;
    }
    
    .continue-shopping {
      margin-right: 45px;
      transition: 0.25s;
    }

    .continue-shopping:hover {
      cursor: pointer;
      color: $darkPink;
    }
  }
  
  .basket-product-page-and-total-price {
    display: flex;
    min-width: inherit;
    justify-content: space-between;
    // border: 1px solid red;
    
    .basket-product-details-and-numbers {
      display: flex;
      flex-direction: column;
      flex: 2.2;
      margin: 0 45px;
      background-color: rgb(243, 243, 243);

      .items-in-basket {
        font-weight: bold;
        margin: 20px 15px 0 15px;
      }

      .basket-product-details-list {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 15px;
        padding: 10px 0;
      }
    }

    .basket-total-price {
      display: flex;
      flex-direction: column;
      flex: 1;
      
      .basket-total-price-div {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(243, 243, 243);
        font-size: 14px;
        margin-right: 45px;
        padding: 15px;
  
        #basket-total-price {
          font-weight: bold;
        }
  
        .order-summary {
          margin: 7px 0 15px 0;
          font-size: 16px;
        }
  
        .merchandise-subtotal {
          display: flex;
          justify-content: space-between;
          margin-bottom: 7px;
        }
  
        .shipping-and-handling {
          display: flex;
          justify-content: space-between;
          margin-bottom: 7px;

          .shipping-price {
            font-weight: bold;
          }
        }
  
        .tax {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
        }

        .basket-empty-div-line {
          height: 1px;
          background-color: rgb(243, 243, 243);
        }
  
        .estimated-total {
          display: flex;
          justify-content: space-between;
          margin: 15px 0;
          font-size: 16px;
        }

        .checkout {
          display: flex;
          background-color: $darkPink;
          color: white;
          border-radius: 5px;
          border: 1px solid $darkPink;
          height: 38px;
          font-weight: bold;
          justify-content: center;
          transition: 0.25s;
        }
        
        button.checkout:hover {
          background-color: $pink;
          border: 1px solid $pink;
          cursor: pointer;
        }
      }
    }
  }
}

.empty-basket {
  min-height: 140px;
  font-family: $Arimo;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .basket-is-empty {
    display: flex;
    flex: 2;
    font-weight: bold;
    font-size: 17px;
    padding-top: 30px;
  }

  .basket-shop {
    flex: 2;
    margin: 0 auto;
    text-align: center;

    button {
      background-color: $darkPink;
      color: white;
      height: 38px;
      width: 160px;
      border-radius: 5px;
      transition: 0.25s;
    }

    button:hover {
      cursor: pointer;
      background-color: $pink;
    }
  }
}

.basket-please-login {
  min-height: 140px;
  font-family: $Arimo;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;

  .please-signin-or-register-to-checkout {
    display: flex;
    flex: 2;
    font-weight: bold;
    font-size: 17px;
    padding-top: 30px;
    margin: 0 auto;
  }

  .signin-or-register {
    display: flex;
    padding-bottom: 25px;

    button {
      background-color: $darkPink;
      color: white;
      height: 38px;
      width: 160px;
      border-radius: 5px;
      margin: 0 5px;
      transition: 0.25s;
    }

    button:hover {
      cursor: pointer;
      background-color: $pink;
    }
  }
}