@import '../variables';

.basket-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1050px;
  font-family: $Arimo;
  letter-spacing: 0.5px;
  color: $darkGray;
  width: 63%;
  margin: 0 auto;
  margin-bottom: 40px;

  .my-basket {
    font-family: $Cormorant-Garamond;
    font-weight: 600;
    min-width: inherit;
    margin: 20px 0 15px 85px;
    font-size: 25px;
  }

  .under-my-basket {
    display: flex;
    min-width: inherit;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
    
    .qualify-for-free-shipping{
      margin-left: 45px;
    }
    
    .continue-shopping {
      margin-right: 45px;
    }

    .continue-shopping:hover {
      cursor: pointer;
      color: $darkPink;
    }
  }
  
  .basket-product-page-and-total-price {
    display: flex;
    min-width: inherit;
    justify-content: space-between;
    // border: 1px solid red;
    
    .basket-product-details-and-numbers {
      display: flex;
      flex-direction: column;
      flex: 2.2;
      margin: 0 45px;
      border: 1px solid blue;
      background-color: rgb(236, 235, 235);

      .items-in-basket {
        font-weight: bold;
        margin: 10px 10px 0 10px;
      }

      .basket-product-details-list {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 10px;
        padding: 10px 0;
      }
    }

    .basket-total-price {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 45px;
      border: 1px solid green;

      .merchandise-subtotal {
        display: flex;
        justify-content: space-between;
      }

      .shipping-and-handling {
        display: flex;
        justify-content: space-between;
      }

      .tax {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}