// Place all the styles related to the basket_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../variables';

.basket-product-details {
  margin: 10px 20px;

  .basket-product-details-box {
    display: flex;
    height: 120px;
    // border: 1px solid red;
    padding: 10px;

    .basket-product-image {
      flex: 1.8;

      img {
        width: 100%;
        height: 100%;
      }
    }

    
    .basket-one-product-details {
      display: flex;
      flex-direction: column;
      flex: 3.5;
      padding: 0 25px;
      // border: 1px solid green;

      .basket-one-product-brand-name {
        font-weight: bold;
        font-size: 15px;
        margin-top: 5px;
      }

      .basket-one-product-name {
        font-size: 13px;
        margin-top: 5px;
      }

      .link-back-to-details {
        transition: 0.25s;
      }

      .link-back-to-details:hover {
        color: $darkPink;
        text-decoration: underline;
      }

      .basket-one-product-size-id {
        display: flex;
        color: $lightGray;
        font-size: 12px;
        margin-top: 5px;

        .fa-circle {
          font-size: 5px;
          position: relative;
          margin: 0 5px;
          top: 4px;
        }
      }

      .basket-one-product-color {
        margin-top: 5px;
        font-size: 13px;
      }
    }

    .basket-one-product-quantity-price-buttons {
      display: flex;
      flex-direction: column;

      .basket-one-product-quantity-price {
        display: flex;
        justify-content: space-between;
        flex: 2;
  
        .basket-one-product-quantity {
          #number-of-quantity-in-basket { 
            width: 55px;
          }
        }
  
        .basket-one-product-price {
          font-weight: bold;
        }
      }

      .basket-one-product-remove-button-move-to-loves {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        color: gray;
        font-size: 13px;

        .basket-one-product-remove-button {
          padding-right: 10px;
          border-right: 1px solid $lightGray;
          transition: 0.25s; 

          button:hover {
            cursor: pointer;
            color: $darkPink;
          }
        }

        .basket-one-product-move-to-loves {
          padding-left: 10px;
          transition: 0.25s;

          button:hover {
            cursor: pointer;
            color: $darkPink;
          }
        }
      }
    }

  }
}