@import '../variables';

.show-color {
  .color-label {
    width: 200px;
    height: 50px;
    border: 1px solid white;
  }

  .color-palette {
    display: flex;
    margin-top: 10px;
  
    .color-name {
      flex: 1;
      width: 40px;
      height: 40px;
      margin: 0 3px;
      border: 1px solid lightgray;
      transition: 0.25s;
      border-radius: 10px;
    }

    .color-name:hover {
      cursor: pointer;
    }
    
    .scale {
      transform: scale(1.3);
      border: 0.5px solid $darkGray;
      z-index: 10;
    }
  }
}


