@import '../variables';

.product-show-detail {
  display: flex;
  flex-direction: column;
  width: 655px;

  .product-show-tab-title {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    transition: 0.25s;

    .each-tab-selected {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 auto;
      border-right: 1px solid $lightGray;
      border-left: 1px solid $lightGray;
      border-top: 1px solid $lightGray;
      border-radius: 5px 5px 0 0;
      padding-top: 10px;
        
      .selected-tab {
        width: 100px;
        height: 2px;
        margin: 0 auto;
        border-bottom: 2px solid $darkPink;
      }

      .selected-tab-title {
        color: $darkPink;
        text-align: center;
        padding-bottom: 10px;
        transition: 0.25s;
      }

      .selected-tab-title:hover {
        color: $darkPink;
        cursor: pointer;
      }
    }

    .product-show-tab-title:hover {
      color: $darkPink;
      cursor: pointer;
    }
    
    .each-tab-unselected {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 0 auto;
      border-bottom: 1px solid $lightGray;
      border-radius: 5px 5px 0 0;
      padding-top: 10px;

      .unselected-tab {
        width: 100px;
        height: 2px;
        margin: 0 auto;
        z-index: -10;
      }
      
      .unselected-tab-title {
        text-align: center;
        padding-bottom: 10px;
      }

      .unselected-tab-title:hover {
        color: $darkPink;
        cursor: pointer;
      }
    }
  }

  .product-show-tab-contents {
    display: flex;
    padding: 30px;
    border: 1px solid $lightGray;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
  }

  .product-show-tab-contents {
    display: flex;
    flex-direction: column;

    .sub-content-details {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      .sub-content-label {
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }
}