// COLOR
$pink: rgb(250, 185, 185);
$darkPink: rgb(236, 76, 76);
$lightGray: rgb(196, 193, 193);
$darkGray: rgb(51, 51, 51);

// FONTS
$fontFamily: Arial, Helvetica, sans-serif;
$Noto-Serif: 'Noto Serif', serif;
$Noto-Serif-TC: 'Noto Serif TC', serif;
$Lora: 'Lora', serif;
$Noto-Serif-SC: 'Noto Serif SC', serif;
$Quicksand: 'Quicksand', sans-serif;
$Old-Standard-TT: 'Old Standard TT', serif;
$Cormorant-Garamond: 'Cormorant Garamond', serif;
$Questrial: 'Questrial', sans-serif;
$Arimo: 'Arimo', sans-serif;
$Open-Sans: 'Open Sans', sans-serif;